@import 'src/baseScss/global/variables';

.navLink {
    color: #0a2a66;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        font-weight: 700;
        color: $mainBlue;
    }
}
