@import 'src/baseScss/global/mixins';

.overview {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;

  @include atSmall(){
    flex-direction: column;
  }
}

.descriptionTitle {
  padding-right: 90px;

  @include atSmall(){
    padding-right: 0;
  }
}
