@import 'src/baseScss/global/variables';

.row {
  display: flex;
}

.content {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.textRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px solid #dedfe0;
  background-color: #fff;
}

.courseContent {
  color: #000000;
  font-weight: bold;
  padding-left: 15px;
}

.xIcon {
  cursor: pointer;
  padding-right: 15px;
}

.youtubePlayerContainer {
  position: relative;
  width: 80%;
  overflow: hidden;
  padding-top: 30%;
}

.youtubePlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
