@import 'src/baseScss/global/variables';
@import 'src/baseScss/global/mixins';

.row {
  display: flex;

  @include atMedium() {
    display: block;
  }
}

.content {
  width: 25%;
  display: flex;
  flex-direction: column;

  @include atMedium() {
    width: 100%;
  }
}

.textRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px solid #dedfe0;
  background-color: #fff;
}

.courseContent {
  color: #000000;
  font-weight: bold;
  padding-left: 15px;
}

.xIcon {
  cursor: pointer;
  padding-right: 15px;
}

.youtubePlayerContainer {
  position: relative;
  overflow: hidden;
  padding-top: 40%;
  min-height: 300px;
}

.youtubePlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.videoSide {
  width: 75%;
  @include atMedium() {
    width: 100%;
  }
}
