@import 'src/baseScss/global/mixins';
@import 'src/baseScss/global/variables';

.background {
  background-color: #0A2A66;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: $textWhite;

  @include atMedium(){
    font-size: 30px;
  }
}
