@import '../../baseScss/global/mixins';

.loginRegister{
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  @include atMedium() {
    display: block;
    width: inherit;
    margin-right: 50px;
    margin-left: 50px;
  }
}
