$mainBlue:  #1865f2;
$headerBorder: #D6D8DA;
$footerBG: #444649;

$googleColor: #4285f4;
$googleHoverDarker: #357ae8;

$formInputMain: #000;
$formInputSub: #808080;

$errorColor: #c42420;
$successColor: #218838;

$bgBlue: #0A2A66;

$textWhite: #fff;

$subjectSectionBG: #f7f8fa;
$subjectSectionHoverBG: #F2F3F5;
$subjectSectionText: #29303b;