.authWrapper {
  margin-right: auto;
  margin-left:  auto;
  width: 100%;
  max-width: 840px;
  padding: 20px 10px;
}

.headerWrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding: 20px 10px;
}
