@import 'src/baseScss/global/variables';

.container {
    border: 1px solid $settingsBorder;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;;
}

.row {
    border-top: 1px solid $settingsBorder;
    border-bottom: 1px solid $settingsBorder;
    display: flex;
    justify-content: space-between;
}

.email {
    color: #666666;
}