@import 'src/baseScss/global/variables';

.subjectSections {
  background-color: $subjectSectionBG;
  padding: 5px 20px 10px;
  cursor: pointer;

  &:hover {
    background-color: subjectSectionHoverBG;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-size: 15px;
  color: $subjectSectionText;
  font-weight: bold;
  margin-bottom: 0;
}

.subtitles {
  margin-top: 0;
  font-size: 12px;
  color: $subjectSectionText;
}

.dropdown {
  cursor: pointer;
  padding-bottom: 10px;
  background-color: #fff;

  &:hover {
    background-color: #F2F3F5;
  }
}

.rowDropdown {
  display: flex;
  align-items: center;
}

.activeLesson {
  background-color: #D4E9EE;
}

.time {
  padding-left: 43px;
}

.practiceTitle {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 15px;
  color: $subjectSectionText;
  font-weight: bold;
}
