@import "src/baseScss/global/variables";
@import "src/baseScss/global/mixins";

.header {
  border-bottom: 1px solid $headerBorder;
}

.mobileTitle {
  display: none;

  @include atMedium {
    display: inline-block;
  }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navLink {
  color: $mainBlue;
  font-weight: 700;
  padding-right: 30px;
  padding-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.paddingR {
  padding-right: 15px;
}

@include atMedium {
  .row {
    display: none;
  }
}
