@import "../../baseScss/global/variables";

.header {
  border-bottom: 1px solid $mainBlue;

  &__wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
    padding: 20px 10px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__nav-link {
    color: $headerBorder;
    font-weight: 700;
    padding-right: 30px;
    padding-left: 10px;
    cursor: pointer;
  }
}
